{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="slider rs-slider full-width load">
  <div class="tp-banner-container">
  <div class="rev_slider tp-banner">
    <ul>
    <li data-delay="7000" data-transition="slidehorizontal" data-masterspeed="1000">
      <div class="elements">
      <h2 class="tp-caption title"
        data-x="15"
        data-y="240"
        data-voffset="170"
        data-start="700"
        data-transform_in="x:left;s:1000;e:Power4.easeOut"
        data-transform_out="x:left;s:400;e:Power1.easeIn">
        FULLY<br>
        <b>RESPONSIVE</b> &amp;<br>
        <b>RETINA READY</b><br>
        THEME
      </h2>

      <a href="#"
        class="tp-caption btn btn-link"
        data-x="15"
        data-y="500"
        data-start="700"
        data-transform_in="y:bottom;s:1000;e:Power4.easeOut"
        data-transform_out="y:bottom;s:400;e:Power1.easeIn">
        LEARN MORE<i class="fa fa-angle-right"></i></a>
      </a>

      <div class="tp-caption"
        data-x="500"
        data-y="20"
        data-start="450"
        data-transform_in="y:bottom;s:1000;e:Power4.easeOut"
        data-transform_out="y:bottom;s:500;e:Power1.easeIn"
        style="z-index: 3">
        <img class="replace-2x" src="{% static 'tocatas_intimas/content/img/slider/slide-4-11.png' %}" width="" height="" alt="">
      </div>
      </div>

      <img class="replace-2x" src="{% static 'tocatas_intimas/content/img/slider/slide-4-1.jpg' %}" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
    </li>

    <li data-delay="7000" data-transition="slidehorizontal" data-masterspeed="1000">
      <div class="elements">
      <h2 class="tp-caption title"
        data-x="15"
        data-y="240"
        data-start="700"
        data-transform_in="x:left;s:1000;e:Power4.easeOut"
        data-transform_out="x:left;s:400;e:Power1.easeIn">
        FANTASTIC<br>
        <b>COLORFUL</b> &amp;<br>
        <b>POWERFUL</b><br>
        THEME
      </h2>

      <a href="#"
        class="tp-caption btn btn-link"
        data-x="15"
        data-y="500"
        data-start="700"
        data-transform_in="y:bottom;s:1000;e:Power4.easeOut"
        data-transform_out="y:bottom;s:400;e:Power1.easeIn">
        LEARN MORE<i class="fa fa-angle-right"></i></a>
      </a>
      </div>

      <img class="replace-2x" src="{% static 'tocatas_intimas/content/img/slider/slide-4-2.jpg' %}" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
    </li>

    <li data-delay="7000" data-transition="slidehorizontal" data-masterspeed="1000">
      <div class="elements">
      <h2 class="tp-caption title text-center"
        data-x="center"
        data-y="268"
        data-start="700"
        data-transform_in="y:top;s:1000;e:Power4.easeOut"
        data-transform_out="y:top;s:400;e:Power1.easeIn">
        SIMPLE<br>
        <b>GREAT</b><br>
        <b>DESIGN</b>
      </h2>

      <a href="#"
        class="tp-caption btn btn-link"
        data-x="center"
        data-y="470"
        data-start="700"
        data-transform_in="y:bottom;s:1000;e:Power4.easeOut"
        data-transform_out="y:bottom;s:400;e:Power1.easeIn">
        LEARN MORE<i class="fa fa-angle-right"></i></a>
      </a>
      </div>

      <img class="replace-2x" src="{% static 'tocatas_intimas/content/img/slider/slide-4-3.jpg' %}" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
    </li>

    <li data-delay="7000" data-transition="slidehorizontal" data-masterspeed="1000">
      <div class="elements right-box">
      <h2 class="tp-caption title text-right"
        data-x="right"
        data-hoffset="15"
        data-y="350"
        data-start="700"
        data-transform_in="x:right;s:1000;e:Power4.easeOut"
        data-transform_out="x:right;s:400;e:Power1.easeIn">
        PREMIUM<br>
        <b>SUPPORT</b>
      </h2>

      <a href="#"
        class="tp-caption btn btn-link"
        data-x="right"
        data-hoffset="15"
        data-y="480"
        data-start="700"
        data-transform_in="y:bottom;s:1000;e:Power4.easeOut"
        data-transform_out="y:bottom;s:400;e:Power1.easeIn">
        LEARN MORE<i class="fa fa-angle-right"></i></a>
      </a>
      </div>

      <img class="replace-2x" src="{% static 'tocatas_intimas/content/img/slider/slide-4-4.jpg' %}" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
    </li>
    </ul>
  </div><!-- .tp-banner -->
  </div>
</div><!-- .rs-slider -->

<section id="works" class="full-width-box cm-padding-bottom-36">
<header class="page-header">
  <div class="container">
  <h1 class="title">Proximas Tocatas</h1>
  </div>
</header>

<div class="container">
  <div class="portfolio">
  <div class="clearfix"></div>

  <div class="row filter-elements">
    {% if tocatas %}
      {% for tocata in tocatas %}
      <div class="web-design col-xs-12 col-sm-4 col-md-4">
      <a href="/portfolio-single.html" class="work">
        {% if tocata.flayer %}
        <img class="replace-2x" src="{{ tocata.flayer.url }}" width="370" height="270" alt="">
        {% endif %}
        <span class="shadow"></span>
        <div class="bg-hover"></div>
        <div class="work-title">
      <h3 class="title">{{ tocata.nombre }}</h3>
      <div class="description">{{ tocata.observaciones }}</div>
        </div>
      </a>
      </div>
      {% endfor %}
    {% else %}
      <p>No hay tocatas</p>
    {% endif %}
  </div>
  </div>
</div>
</section><!-- #works -->

{% endblock %}
