{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- Page Content -->
<div class="container">
  <!-- Buscador Inicio -->
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Busca tu Tocata Intima, Artista, Locacion, etc.
        </h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
          voluptatum tempore! Consectetur, id commodi!</p>
        <div class="search">
          <form action="{% url 'busqueda' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">A Buscar</label>
                <input type="text" name="palabra" class="form-control" placeholder="A Buscar (Artista, locacion, etc)" value="{{ valores.palabra}}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Ciudad</label>
                <input type="text" name="ciudad" class="form-control" placeholder="Ciudad" value="{{ valores.ciudad }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">State</label>
                <select name="region" class="form-control">
                  <option selected="true" disabled="disabled">Regiones</option>
                  {% for key,value in regiones.items %}
                    <option value="{{ key }}" {% if key == valores.region %} selected {% endif %}>
                      {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Medios_pago</label>
                <select name="medios_pago" class="form-control">
                  <option selected="true" disabled="disabled">Medios de Pago</option>
                  {% for key,value in medios_pago.items %}
                  <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="tipo" class="form-control" id="type">
                  <option selected="true" disabled="disabled">Tipo</option>
                  {% for key,value in tipo.items %}
                  <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Buscador Fin -->

  <div class="row">
    {% if tocatas %}
     {% for tocata in tocatas %}
       <div class="col-lg-4 col-sm-6 portfolio-item">
         <div class="card h-100">
           {% if tocata.flayer %}
            <a href="#"><img class="card-img-top" src="{{ tocata.flayer.url }}" alt=""></a>
           {% endif %}
           <div class="card-body">
             <h4 class="card-title">
               <a href="{% url 'tocata' tocata.id %}">{{ tocata.nombre }}</a>
             </h4>
             <h6 class="card-title">Adhesion:  {{ tocata.adhesion | intcomma }}</h6>
             <h6 class="card-title">Fecha: {{ tocata.fecha }}</h6>
             <p class="card-text">{{ tocata.observaciones }}</p>
           </div>
         </div>
       </div>
     {% endfor %}
    {% else %}
      <p>No hay tocatas</p>
    {% endif %}
  </div>

</div>

{% endblock %}
