{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Portfolio 3
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Portfolio 3</li>
    </ol>

    <div class="row">
      {% if tocatas %}
        {% for tocata in tocatas %}
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{{ tocata.flayer.url }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'tocata' tocata.id %}">{{ tocata.nombre }}</a>
                </h4>
                <p class="card-text">{{ tocata.observaciones }}</p>
              </div>
            </div>
          </div>
        {% endfor  %}
      {% else %}
        <div class="col-md-12">
          <p>No hay tocatas Intimas</p>
        </div>
      {% endif %}
    </div>

    <!-- Pagination -->
    {% if tocatas.has_other_pages %}
      <ul class="pagination justify-content-center">
        {% if tocatas.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{tocatas.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disable">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
        {% endif %}

        {% for i in tocatas.paginator.page_range %}
          {% if tocatas.number == i %}
            <li class="page-item active">
              <a class="page-link">{{i}}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a href="?page={{i}}" class="page-link">{{i}}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if tocatas.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{tocatas.next_page_number}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        {% else %}
        <li class="page-item disable">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {% endif %}
      </ul>
    {% endif %}

  </div>
{% endblock %}
